<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-md">
        <a class="navbar-brand" href="{{ "/" | relative_url }}"><img src="/assets/img/logo.svg" height="45px"></a>
        <button class="navbar-toggler" id="n-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/movies/">movies</a>
                <a class="nav-link" href="/imagestories/">Image Stories</a>
              </li>
            </ul>
        </div>
    </nav>
</header>

<div class="u-shape">
    <div class="u-shape-top" data-trigger="sourcepoint-ad">
        <div data-sdg-ad="banner">
            <div id="div-gpt-ad-1525787228542-0"></div>
        </div>
    </div>
    <div class="u-shape-right" data-trigger="sourcepoint-ad">
        <div data-spy="affix" data-offset-top="10" data-offset-bottom="470">
            <div id="div-gpt-ad-1525787228542-2"></div>
        </div>
    </div>
    <div class="u-shape-left" data-trigger="sourcepoint-ad">

        <div data-sdg-ad="sky2"></div>

    </div>
</div>

