@mixin gradient-grey($opacity: 0) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: $opacity;
  background: linear-gradient(0deg, rgba(52, 55, 70, .5) 20%, rgba(52, 55, 70, 0) 60%);
}
// BSP @include stiFontFamilyProp(30px, 100%, bold, $white, $headings-font-family);
@mixin stiFontFamilyProp($a, $b, $c, $d, $e) {
  font-size: $a;
  line-height: $b;
  font-weight: $c;
  color: $d;
  font-family: $e;
}
@mixin stiFontColorProp($a, $b, $c, $d) {
  font-size: $a;
  line-height: $b;
  font-weight: $c;
  color: $d;
}
@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
  -ms-transform: translate($x, $y); // IE9 only
  -o-transform: translate($x, $y);
  transform: translate($x, $y);
}
// Single side border-radius

@mixin border-top-radius($radius) {
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
}
@mixin border-right-radius($radius) {
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius) {
  border-bottom-left-radius: $radius;
  border-top-left-radius: $radius;
}
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}
@mixin width-height($a) {
  width: $a;
  height: $a;
}
